div .nav {
  background-color: #1d1d1d;
  height: 65px;
}

.NavBrand {
  color: #ffffff;
}

.NavBrand:hover {
  text-decoration: none;
}

.NavSpan {
  color: #00D60F;
}

.NavContent {
  margin: 0 auto;
  max-width: 90%;
}

.NavDesktopBtn {
  margin-left: 24px;
}